html,body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    width: 100%;
    max-width: 600px;
    padding: 2rem;
    margin: 0px auto;
}

.headerContainer{
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    background: tomato;
    font-weight: bold;
    margin-bottom: 20px;
}

form{
    margin-top: 50px;
}

div{
    margin-bottom: 20px;
    display: flex;
    justify-align-items: center;
}

label, input, button{
    font-size: 14px;
    line-height: 1.5;
}

label{
    text-align: right;
    width: 30%;
    margin-right: 2%;
}

input{
    flex: auto;
}